* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  background-color: grey;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

#root {
  height: 100%;
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-rows: 1fr 10fr 5%;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}